<div class="alert alert-danger">
    <strong>Deprecation Notice:</strong> The Random Image Service is now
    deprecated.
    <ul>
        <li>
            We recommend using another service like
            <a href="https://picsum.photos/">Lorem Picsum</a>,
            <a href="https://placekitten.com/">Placekitten</a> or
            <a href="https://loremflickr.com/">Lorem Flickr</a> instead.
        </li>
        <li>
            Requests to the Random Image Service are now being redirected to
            <a href="https://loremflickr.com/">Lorem Flickr</a> and
            <a href="https://picsum.photos/">Lorem Picsum</a>.
        </li>
        <li>This service will be shut down on {{ date }} .</li>
    </ul>
</div>
