<div class="main-body">
    <h1>Random Image API</h1>
    <p class="lead">
        A simple API for serving random images.<br />
    </p>

    <hr>
    <img class="img-responsive" src="/v1/image?height=150&width=400">
    <br>
    <code>https://random.responsiveimages.io/v1/image?height=150&width=400</code>
    <hr>

    <p>
        Designed to work alongside <a href="https://responsiveimages.io/">responsiveimages.io</a><br>
        Read the documentation <a href="/v1/docs">here</a>.
    </p>
</div>